# Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Extract our data files and store in data frames

In [2]:
csv_file1 = "qgdpstate0519_3.csv"
gdp_by_state_df = pd.read_csv(csv_file1)
gdp_by_state_df.head()

,"Table 1. Percent Change in Real Gross Domestic Product (GDP) by State and Region, 2017:Q1-2018:Q4",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,Seasonally adjusted at annual rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,NaN,NaN,NaN,2018,NaN,NaN,NaN,Rank 2018:Q4,NaN
2,NaN,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4,NaN,NaN
3,United States,1.8,3.0,2.8,2.3,2.2,4.2,3.4,2.2,--,NaN
4,New England,0.6,2.8,3.1,-0.5,3.6,0.6,3.3,1.7,--,NaN

In [3]:
csv_file2 = "spi0619.csv"
personal_income_df = pd.read_csv(csv_file2)
personal_income_df.head()

,"Table 1. Personal Income, by State and Region, 2017:Q4-2019:Q1",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,"[Millions of dollars, seasonally adjusted at a...",NaN,NaN,NaN,NaN,NaN,[Seasonally adjusted at annual rate],NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2017,2018,NaN,NaN,NaN,2019,Percent change from preceding quarter1,NaN,NaN,NaN,NaN,Rank,NaN
2,NaN,Q4,Q1r,Q2r,Q3r,Q4r,Q1p,2018:Q1,2018:Q2,2018:Q3,2018:Q4,2019:Q1,2018:Q4 - 2019:Q1,NaN
3,United States,"17,090,705","17,313,151","17,460,221","17,647,510","17,825,728","17,975,691",5.3,3.4,4.4,4.1,3.4,--,NaN
4,New England,"963,895","979,868","981,773","992,031","998,048","1,004,541",6.8,0.8,4.2,2.4,2.6,--,NaN

# Clean data by selecting specific columns and dropping columns

In [13]:
new_gdp_by_state_df = gdp_by_state_df[['Table 1. Percent Change in Real Gross Domestic Product (GDP) by State and Region, 2017:Q1-2018:Q4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']].copy()

new_gdp_by_state_df = new_gdp_by_state_df.rename(columns={"Table 1. Percent Change in Real Gross Domestic Product (GDP) by State and Region, 2017:Q1-2018:Q4": "state",
                                                          "Unnamed: 5": "fy18_q1_gdp",
                                                          "Unnamed: 6": "fy18_q2_gdp",
                                                          "Unnamed: 7": "fy18_q3_gdp",
                                                          "Unnamed: 8": "fy18_q4_gdp" })
new_gdp_by_state_df = new_gdp_by_state_df.drop([0, 1])
new_gdp_by_state_df.head()

           state fy18_q1_gdp fy18_q2_gdp fy18_q3_gdp fy18_q4_gdp
2            NaN          Q1          Q2          Q3          Q4
3  United States         2.2         4.2         3.4         2.2
4   New England          3.6         0.6         3.3         1.7
5    Connecticut         1.7        -3.6         9.0         1.8
6         Maine          2.0         2.5         3.1         0.7

In [14]:
new_personal_income_df = personal_income_df[['Table 1. Personal Income, by State and Region, 2017:Q4-2019:Q1',  'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5']].copy()

new_personal_income_df = new_personal_income_df.rename(columns={"Table 1. Personal Income, by State and Region, 2017:Q4-2019:Q1": "state",
                                                           "Unnamed: 2": "fy18_q1_income",
                                                          "Unnamed: 3": "fy18_q2_income",
                                                          "Unnamed: 4": "fy18_q3_income",
                                                          "Unnamed: 5": "fy18_q4_income" })


new_personal_income_drop_rows_df = new_personal_income_df.drop([0, 1])

new_personal_income_drop_rows_df.head()

,state,fy18_q1_income,fy18_q2_income,fy18_q3_income,fy18_q4_income
2,NaN,Q1r,Q2r,Q3r,Q4r
3,United States,"17,313,151","17,460,221","17,647,510","17,825,728"
4,New England,"979,868","981,773","992,031","998,048"
5,Connecticut,"263,070","263,185","267,948","268,375"
6,Maine,"63,811","64,257","64,835","65,049"

# Connect to local database

In [15]:
rds_connection_string = "postgres:roxgael2@localhost:5432/gdp_saving_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

[]

In [36]:
new_personal_income_drop_rows_df.to_sql(name='income', con=engine, if_exists='append', index=True)

In [37]:
new_gdp_by_state_df.to_sql(name='gdp', con=engine, if_exists='append', index=True)

# Check for tables

In [38]:
pd.read_sql_query('select * from income', con=engine).head()

,index,state,fy18_q1_income,fy18_q2_income,fy18_q3_income,fy18_q4_income
0,2,None,Q1r,Q2r,Q3r,Q4r
1,3,United States,"17,313,151","17,460,221","17,647,510","17,825,728"
2,4,New England,"979,868","981,773","992,031","998,048"
3,5,Connecticut,"263,070","263,185","267,948","268,375"
4,6,Maine,"63,811","64,257","64,835","65,049"

In [39]:
pd.read_sql_query('select * from gdp', con=engine).head()

   index          state fy18_q1_gdp fy18_q2_gdp fy18_q3_gdp fy18_q4_gdp
0      2           None          Q1          Q2          Q3          Q4
1      3  United States         2.2         4.2         3.4         2.2
2      4   New England          3.6         0.6         3.3         1.7
3      5    Connecticut         1.7        -3.6         9.0         1.8
4      6         Maine          2.0         2.5         3.1         0.7

# Confirm data in joined table

In [51]:
query = 'SELECT gdp.state, gdp.fy18_q1_gdp, gdp.fy18_q2_gdp, gdp.fy18_q3_gdp, gdp.fy18_q4_gdp, income.fy18_q1_income, income.fy18_q2_income, income.fy18_q3_income, income.fy18_q4_income FROM gdp FULL OUTER JOIN income ON gdp.index = income.index;'
joined_table_df = pd.read_sql_query(query, con=engine)
joined_table_df = joined_table_df[:61]
joined_table_df

,state,fy18_q1_gdp,fy18_q2_gdp,fy18_q3_gdp,fy18_q4_gdp,fy18_q1_income,fy18_q2_income,fy18_q3_income,fy18_q4_income
0,None,Q1,Q2,Q3,Q4,Q1r,Q2r,Q3r,Q4r
1,United States,2.2,4.2,3.4,2.2,"17,313,151","17,460,221","17,647,510","17,825,728"
2,New England,3.6,0.6,3.3,1.7,"979,868","981,773","992,031","998,048"
3,Connecticut,1.7,-3.6,9.0,1.8,"263,070","263,185","267,948","268,375"
4,Maine,2.0,2.5,3.1,0.7,"63,811","64,257","64,835","65,049"
5,Massachusetts,4.7,2.2,1.8,1.8,"479,612","480,668","484,706","488,748"
6,New Hampshire,6.4,-0.7,3.9,1.7,"82,729","82,547","83,488","83,621"
7,Rhode Island,1.3,3.2,-5.7,1.0,"57,469","57,688","57,505","58,436"
8,Vermont,0.9,4.0,-1.1,1.9,"33,176","33,429","33,548","33,820"
9,Mideast,1.1,3.9,2.6,1.1,"3,098,408","3,125,165","3,154,948","3,167,433"
10,Delaware,-1.2,0.8,9.0,0.0,"48,972","49,283","50,036","50,318"
11,District of Columbia,3.7,1.4,6.3,0.1,"56,733","57,017","57,913","58,353"
12,Maryland,0.4,3.7,-0.9,1.2,"376,252","378,653","381,314","383,627"
13,New Jersey,3.6,2.4,1.8,1.8,"595,033","599,097","604,591","607,961"
14,New York,0.5,4.7,3.0,0.2,"1,322,411","1,338,390","1,349,450","1,348,958"
15,Pennsylvania,0.7,4.0,3.2,2.5,"699,008","702,725","711,644","718,215"
16,Great Lakes,2.8,1.8,3.9,1.5,"2,342,726","2,352,986","2,377,882","2,398,487"
17,Illinois,4.0,0.6,5.0,1.3,"714,406","719,803","726,789","731,520"
18,Indiana,4.0,-0.4,1.9,0.9,"309,616","309,711","312,369","316,286"
19,Michigan,2.3,3.8,3.3,1.8,"470,663","471,675","476,627","480,092"
20,Ohio,0.2,3.1,4.9,1.4,"556,022","558,742","566,460","570,971"
21,Wisconsin,4.9,1.6,2.4,2.1,"292,018","293,056","295,637","299,619"
22,Plains,0.9,6.4,1.5,1.4,"1,069,415","1,083,371","1,089,528","1,106,866"
23,Iowa,1.4,6.5,-0.2,0.3,"151,199","153,032","153,707","157,515"
24,Kansas,0.6,5.4,1.2,0.9,"144,043","145,402","146,244","147,889"
25,Minnesota,0.1,7.6,2.5,1.1,"309,740","314,922","317,942","322,463"
26,Missouri,1.4,6.2,1.8,1.8,"281,170","285,289","285,990","289,112"
27,Nebraska,0.7,4.7,-0.8,2.2,"99,377","99,960","100,061","102,337"
28,North Dakota,0.5,9.6,3.2,3.5,"40,426","41,058","41,398","42,133"
29,South Dakota,4.6,2.4,4.5,2.1,"43,460","43,709","44,185","45,416"
...,...,...,...,...,...,...,...,...,...
31,Alabama,1.2,2.2,1.8,2.1,"204,381","205,749","207,297","210,267"
32,Arkansas,1.0,1.7,0.6,1.5,"126,651","127,355","128,324","130,463"
33,Florida,4.1,1.4,7.2,2.0,"1,036,489","1,041,061","1,058,723","1,068,405"
34,Georgia,-0.5,2.6,7.6,2.1,"472,517","476,427","485,173","488,147"
35,Kentucky,-1.8,4.5,0.9,1.8,"184,266","186,259","187,036","189,013"
36,Louisiana,4.3,1.4,-0.1,1.3,"209,259","211,837","212,709","214,183"
37,Mississippi,1.3,2.2,2.0,0.5,"111,897","112,752","113,327","114,529"
38,North Carolina,2.0,7.7,0.5,1.9,"467,964","473,982","477,423","486,157"
39,South Carolina,1.4,2.5,3.2,1.6,"214,411","215,588","218,082","221,239"
40,Tennessee,0.6,6.6,5.2,1.6,"313,761","316,723","321,921","323,262"
41,Virginia,2.9,2.9,4.9,1.5,"478,875","481,376","487,594","492,777"
42,West Virginia,-2.0,6.8,9.3,1.8,"71,345","72,265","74,381","74,774"
43,Southwest,2.5,4.3,3.7,5.9,"1,958,677","1,976,961","2,002,198","2,023,819"
44,Arizona,5.2,2.6,7.4,3.5,"307,607","309,441","315,294","319,169"
45,New Mexico,-1.1,4.3,5.5,4.1,"84,993","85,492","86,936","87,748"
46,Oklahoma,0.8,5.4,0.2,5.5,"179,530","181,009","182,484","184,745"
47,Texas,2.4,4.5,3.3,6.6,"1,386,546","1,401,020","1,417,484","1,432,156"
48,Rocky Mountain,1.4,4.9,3.9,3.1,"616,578","622,804","630,568","640,856"
49,Colorado,0.3,5.9,4.1,3.8,"317,371","321,087","325,764","330,693"
50,Idaho,2.0,5.6,3.6,2.7,"74,495","75,282","75,860","77,757"
51,Montana,-0.4,3.2,1.4,1.3,"49,332","49,888","50,197","51,251"
52,Utah,5.9,3.7,4.7,1.8,"141,166","142,082","143,858","145,824"
53,Wyoming,-6.2,3.0,2.8,6.0,"34,214","34,466","34,889","35,331"
54,Far West,1.9,6.2,2.0,2.3,"3,355,662","3,395,786","3,428,367","3,477,001"
55,Alaska,-5.7,1.7,2.9,4.9,"43,416","43,646","44,286","44,672"
56,California,0.9,6.6,1.2,2.2,"2,436,054","2,468,814","2,488,108","2,523,626"
57,Hawaii,0.0,2.4,1.6,1.1,"76,848","77,151","77,715","78,426"
58,Nevada,6.4,2.5,2.7,2.8,"144,259","145,024","146,952","150,425"
59,Oregon,2.0,3.6,4.2,1.3,"205,936","207,703","210,380","213,300"
60,Washington,7.2,7.2,5.4,3.1,"449,150","453,448","460,925","466,553"

In [52]:
joined_table_df.to_sql(name='income_gdp', con=engine, if_exists='append', index=False)